body {
    font-family: Serif, sans-serif;
    background: #f3f5ff;
    padding: 30px;
    color: #222;
}

.card {
    background: white;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin: auto;
    text-align: center;
}

.btn {
    background: #6C5CE7;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}
